#invoice, #alert-size, #alert-topping {
  display: none;
}

#alert-size, #alert-topping {
  color: red;
}

body {
  font-family: "Amatic SC", sans-serif;
  font-weight: bolder;
  color: white;
  background-image: url(/images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 900%;
}

.form-group {
  font-size: 100%;
}